.projects {
    padding: 70px 0 80px;
    background-color: $light-gray;

    &__container {
        @extend .container;

        display: flex;
        flex-direction: column;
    }
    &__title {
        @include font-style($open-sans-regular, 34px, $black);

        text-align: center;
        margin-bottom: 50px;
    }
    &__wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__img {
        @include size(200px);

        transition: .2s;
        overflow: hidden;
        &:hover {
            transform: scale(1.1);
        }
    }
}