.specification {
    padding: 70px 0 80px;

    &__title {
        @include font-style($open-sans-regular, 34px, $black);

        text-align: center;
        margin-bottom: 50px;
    }
    &__container {
        @extend .container;

        display: flex;
        gap: 60px;
        justify-content: center;
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        text-align: center;
        &:hover {
            .specification {
                &__logo {
                    border-color: $black;
                }
                &__img {
                    transform: scale(1.2);
                }
                &__name {
                    text-decoration: underline;
                }
            }
        }
    }
    &__logo {
        @include size(200px);

        margin-bottom: 30px;
        border-radius: 50%;
        border: 2px solid transparent;
        overflow: hidden;
        transition: .3s;
    }
    &__img {
        @include size(200px);

        border-radius: 50%;
        background-size: cover;
        transition: .3s;
    }
    &__name {
        @include font-style($open-sans-regular, 20px, $black);

        transition: .3s;
        line-height: 24px;
    }
}